.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .body {
      padding: 3rem 2rem 0;
      background-color: black;
  }
}

.body {
  padding: 0.5rem;
  background-color: black;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.Work-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 50px;
}

.Apps-header {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  height: calc(100% - 64px);

  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.grid-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.page-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  margin-top: 50px;
  padding: 10px;
}

Form {
  width: 100%;
}

.stick {
  position: sticky;
}

.hide-button {
  opacity: 0;
}

.circle-portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-width: 3;
  overflow: hidden;
}

.grid-column {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: black;
}

.Chip-Grid {
  align-items: center;
  justify-content: center;
}

.chip:hover {
  background: linear-gradient(
    -70deg,
    #ff8a30,
    #f9c906
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
}

a.link {
  background: linear-gradient(
    -70deg,
    #ff8a30,
    #f9c906
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
}

a.link:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

.text {
  font-size: 1.25rem;
}

.nav-link {
  background-color: transparent;
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: large;
}

.nav-link-active {
  background: linear-gradient(
    -70deg,
    #ff8a30,
    #f9c906
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
  text-align: right;
  font-size: x-large;
}

.large-text {
  font-size: 5rem;
}

.center-text {
  text-align: center;
}

.special-text {
  background: linear-gradient(
    -70deg,
    #ff8a30,
    #f9c906
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
}

.header-text {
  font-size: 2rem;
  text-align: right;
}

.preview-list {
  text-align: center;
  display: flex;
  align-content: space-between;
}

.preview {
  border: 3px, solid, white;
  padding: 10px;
  margin: 15px;
  color: black;
  font-size: 12pt;
  text-align: left;
  background-color: white;
  margin: auto;
  border-style: double;
  border-color: #92a8d1;
  border-width: 5px;
  border-radius: 2rem;
  transition: all linear .15s;
}

.preview:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 5px rgb(201, 199, 199);
}

.preview-image {
  border-radius: 25%;
  overflow: hidden;
}

.preview-button {
}

.preview-button:hover {
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.github {
  color: rgb(175, 71, 255);
}

a.linkedin {
  color: rgb(57, 100, 255);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
