.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .body {
      padding: 3rem 2rem 0;
      background-color: black;
  }
}

.body {
  padding: 0.5rem;
  background-color: black;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Work-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Apps-header {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  height: calc(100% - 64px);
}

.grid-column {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: black;
}

a.link {
  background: linear-gradient(
    -70deg,
    #a2facf,
    #64acff
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
}

a.link:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

.text {
  font-size: 1.25rem;
}

.nav-link {
  background-color: transparent;
  text-decoration: none;
  color: white;
  text-align: right;
}

.nav-link-active {
  background: linear-gradient(
    -70deg,
    #a2facf,
    #64acff
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
  text-align: right;
}

.large-text {
  font-size: 5rem;
}

.special-text {
  background: linear-gradient(
    -70deg,
    #a2facf,
    #64acff
  );
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  background-clip: text;
  color: transparent;
}

.header-text {
  font-size: 2rem;
  text-align: right;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
